/*******
GENERAL
*******/

body {
    font-family: 'Open sans', sans-serif;
  }
  
  ul {
    list-style-type: none;
  }

  #wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    clear: both;
  }
  
  a {
    text-decoration: none;
  }
  
  h3 {
    margin: 0 0 1em 0;
  }
  
  
  /*******
  HEADING
  *******/
  
  header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    
  }
  
  #logo {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    font-family: 'Changa One', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8ems;
  }
  
  h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal; 
  }
  
  h3 {
    font-size: 1.57em;
    font-weight: normal;
    color: #000;
  }
  
  p {
    color: black;
  }
  
  /*********
  NAVIGATION
  *********/
  
  nav {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    font-weight: 600;
    padding: 15px 10px;
  }
  
  /************
  CONTACT FORM
  ************/
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background:  #f4f7f8;
    border-radius: 8px;
  }
  
  h3 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
  
  
  /******
  FOOTER
  ******/
  
  footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
  }
  .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
  }
  
  
  /**************
  PAGE: PORTFOLIO
  **************/
  
  #gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
    position: fixed;
  }

  #gallery li a p {
    margin: 0;
    font-size: 0.75em;
    color: #bdc3c7;
    list-style: none;
  }

  .index-images {
    width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .index-images img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 100%;
  }


  .photos-images {
    width: 40%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .photos-images img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 100%;
  }

  
  .route-images {
    width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .route-images img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 100%;
  } 



  /***********
  PAGE: ABOUT
  ***********/
  
  .profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
  }
  
  /*************
  PAGE: CONTACT
  *************/
  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
  }
  
  .contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
  }
  
  /*******
  COLORS
  *******/
  
  /* site body */
  body {
    background: #fff;
    color: #999;
  }
  
  /* green header */
  header {
    background: #6ab47b;
    border-color: #599a68;
  }
  
  /* nav background on mobile */
  nav {
   background: #599a68;  
  }
  
  
  /* logo text */
  h1, h2 {
    color: #fff;
  }
  
  /* links */
  a {
    color: #6ab47b;
  }
  
  /* nav link */
  nav a, nav a:visited {
    color: #fff;  
  }
  
  /* selected nav link */
  nav a.selected, nav a:hover {
    color: #32673f;
  }
